[submodule "sub-projects/utils"]
	path = sub-projects/utils
	url = https://github.com/zecarneiro/utils.git
[submodule "sub-projects/node-menu"]
	path = sub-projects/node-menu
	url = https://github.com/zecarneiro/node-menu.git
